body{
	font-family: roboto;
  font-size:19px;
	overflow-x: hidden;
}

/* Nav begin */

.red{
    color:red;
}

.navbar-default{
	background-color: #007b51 !important;
	border: 0px;
  box-shadow:0px 0px 5px grey;
}

.navbar-brand img{
    width:70px;
    position:relative;
    bottom:13px;
}

.navbar-nav a{
	color: white !important;
	padding:25px !important;
}

.navbar-nav a:hover{
	background-color:white !important;
	color:#007b51 !important;
}

/*Classes*/

.btn{
    border:1px solid white;
    padding:20px 60px;
    font-size: 20px;
}

.btn-green:hover{
    background-color: #7EBA00;
    box-shadow: 0px 0px 10px black;
    transition-duration:1s;
}

.title{
    color:grey;
    font-size: 15px
}


#section-1{
	background: url("../images/slide-3.jpg") fixed no-repeat center;
	background-size: 100% ;
	text-align: center;

    padding-bottom: 40px;
}

#section-1 p{
	font-style: italic;
}

#section-1 .logo{
  width: 100%;
}

#section-1 .infos{
	background-color:rgba(0,0,0,0.7);
	padding:4%;
	border-radius:5px;
}

#section-1 > *{
	color:white;
}

#section-1 h1{
	font-weight: bold;
	text-shadow: 0px 0px 10px black;
	font-family: ubuntu;
}

#section-1 h3{
    font-weight: bold;
    color:white;
    text-shadow: 0px 0px 10px black;
}

#section-1 h2{
	color:red;
}

#section-1 a{
	padding:20px 0px !important;
	width:300px !important;
}

/* Sobre begin */

#section-2{
    position:relative;
    margin:0 auto;
	background-color: white;
    text-align:center;
    min-height: 100%;
    padding-bottom:40px;
}

#section-2 h1{
    text-align:center;
    padding:10px;
    width:250px;
    margin:0 auto;
    border-bottom:1px solid black;
}

#section-2 .row{
    width:70%;
    margin:0 auto;
    text-align: justify !important;
}

.carousel{
    width: 100%;
    height: 100%;
}

.carousel .item{
    width:100%;
    height: 100%;
    background-repeat:no-repeat !important;
    background-position: center !important;
}

.carousel .element-1{
    background: url(../images/slide-1.jpg);
    background-size: 100%;
}

.carousel .element-2{
    background: url(../images/slide-2.jpg);
    background-size: 100%;
}

.carousel .element-3{
    background: url(../images/slide-3.jpg);
    background-size: 100%;
}

.carousel .element-4{
    background: url(../images/slide-4.jpg);
    background-size: 100%;
}

.carousel .element-5{
    background: url(../images/slide-5.jpg);
    background-size: 100%;
}

.carousel .element-6{
    background: url(../images/slide-6.jpg);
    background-size: 100%;
}

.carousel .element-7{
    background: url(../images/slide-7.jpg);
    background-size: 100%;
}

.carousel .element-8{
    background: url(../images/slide-8.jpg);
    background-size: 100%;
}

.carousel .element-9{
    background: url(../images/slide-9.jpg);
    background-size: 100%;
}

#section-3{
    min-height:100%;
    text-align: center;
    background-color:#F5F5F5;
    padding-bottom:100px;
    background-size: 100%;
}

#section-3 .row{
    margin:0 auto;
    margin:0 auto;
    text-align: center;
}

#section-3 .card{
    margin:20px;
    height: 200px;
    background-color: white;
}

#section-3 .card-title{
    width:70px;
    height:70px;
    background-color: #7EBA00;
    margin:0 auto;
    position:relative;
    bottom:30px;
}

#section-3 .card-title:hover{
    transform:scale(1.07);
    background-color: red;
    transition-duration:0.5s;
}

#section-3 .palestra{
    background-image: url(../images/palestra-icon.png) !important;
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center;
}

#section-3 .minicurso{
    background-image: url(../images/curso-icon.png) !important;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

#section-3 .oficina{
    background-image: url(../images/oficina-icon.png) !important;
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
}

#section-3 .apresentacao{
    background-image: url(../images/apresentacao-icon.png) !important;
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
}

#section-3 img{
    max-width: 70% !important;
}

#section-3 .btn-green{
    background-color: #7EBA00;
    color:white;
    margin:20px;
}

#section-4{
    min-height: 100%;
    background: url(../images/background-section-4.png) no-repeat fixed;
    background-size: 100%;
    text-align: center;
    padding-bottom: 50px
}

#section-4 h2{
    color:white;
}

#section-4 img{
    width:300px;
    margin-top:100px;
}

#section-4 a{
    border:1px solid white;
    padding:20px;
    border-radius: 5px;
    color:white;
}

#section-4 .row{
    width:100%;
}

#section-4 #logo-ifpb{
    width:130px;
}

 /*Homenageado begin */

#homenageado{
    position:relative;
    min-height:620px;
	background: url("../images/background-homenageado.png") fixed no-repeat center;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: right;
    text-align:center;
    background-color:#E3E3E3;
}

#homenageado h1{
    text-align:center;
    padding:10px;
    width:250px;
    margin:0 auto;
    border-bottom:1px solid black;
}

#homenageado img{
    margin:30px 0px;
    text-align:center;
}

#homenageado .content{
    width:70%;
    margin:0 auto;
    text-align:justify;
}

/*Organizadores begin*/

#organizadores{
    min-height:700px;
    text-align:center;
}

#organizadores h1{
    width:250px;
    border-bottom:1px solid black;
    padding:10px;
    margin: 0 auto;
}

#organizadores .content{
    width:70%;
    margin:0 auto;
}

#organizadores .content > *{
    margin:30px 0px;
}

#organizadores .content img{
    width:150px;
    height:150px;
    border-radius:100%;
}

#organizadores .comissao h3{
    margin-bottom:30px;
}

#organizadores .comissao{
    border-top:1px solid #E9EAED;
}

/*Contato begin*/
#contato{
    min-height:650px;
    padding:40px;
    background: url("../images/background-contato.jpg") fixed no-repeat center;
    background-size:100%;
    background-color:#D7F9FF;
}

#contato h1{
    width:250px;
    border-bottom:1px solid black;
    padding:10px;
    margin: 0 auto;
}

#contato .content{
    width:70%;
    margin:0 auto;
    border-radius:5px;
    text-align:center;
    background-color:white;
    position:relative;
    top:10%;
    box-shadow:0px 0px 10px black;
    padding:40px;
}

#contato .endereco{
    border-left:1px solid #E9EAED;
}

#contato .endereco iframe{
    width:100%;
}

#contato img{
    width:20px;
}

/*Patrocinadores begin*/

#patrocinadores{
    text-align:center;
    padding:40px 0px;
}

#patrocinadores h1{
    width:250px;
    border-bottom:1px solid black;
    padding:10px 0px;
    margin: 0 auto;
}

#patrocinadores .dividida{
    border-right:1px solid #E9EAED;
}

#patrocinadores .content{
    padding:40px 0px;
    margin:0 auto;
}

#patrocinadores p{
    margin:40px 0px;
}

#patrocinadores img{
    width:100px;
    margin:20px 10px;
}

#patrocinadores h2{
    display:inline;
}

#patrocinadores > .row{
    margin:0 auto;
}

/*footer begin*/
footer{
    text-align:center;
    background-color:#007b51;
    padding:10px 0px;
    color:white;
}

footer img{
    width:150px;
}

/*media para garantir que os backgrounds n�o ir�o quebrar*/

@media (max-width:1350px){
    /*Banner begin*/
    #section-1, #section-4{
        background-size: 1350px;
    }
}

@media (max-width:991px){
    #contato .endereco{
        border-left:0px;
        border-top:1px solid #E9EAED;
        padding-top:10px;
    }

    #patrocinadores .dividida{
       border-bottom:1px solid #E9EAED;
       border-right:0px solid #E9EAED;
    }
}

@media (max-width:900px){
    /*/*Banner begin*/
    #section-1 h1, #section-4 h1{
        font-size:100px;
    }

    #section-1 img{
        width: 100% !important;
    }
}

@media (max-width:1000px){
    #homenageado{
        min-height:1400px;
    }

    #homenageado img{
        width:100%;
    }

}

@media (max-width:1300px){
    #sobre img{
        width:200px;
    }
}

@media (max-width:606px){

    #contato{
        padding:40px 0px;
    }

    #contato .content{
        width:100% !important;
    }
}

@media (max-width:400px){

    #sobre, #homenageado, #organizadores, .content{
        width:100% !important;
    }

    #programacao .foto-apresentador{
        float:none;
        display:block !important;
    }

    #section-1 h1, #section-4 h1{
        font-size:60px !important;
    }

    h1{
        font-size:30px !important;
        width:100% !important;
    }

    #section-1 h3, #section-4 h3{
        font-size:20px;
        top:100px;
    }

    #section-1 h2, #section-4 h2{
        font-size:30px;
    }

    #homenageado{
        min-height:1510px;
    }

    #contato .content{
        width:100% !important;
        padding:0px;
    }
}
